<frontmatter>
    <title>Register</title>
</frontmatter>
<form method="post">
    <input name="username" required autofocus autocomplete="username" />
    <input type="password" name="password" required autocomplete="current-password" />
    <button>Login</button>
</form>