<frontmatter>
    <title>Register</title>
</frontmatter>
<form method="post">
    <input name="username" required minlength="3" autofocus autocomplete="username" placeholder="Username/email" />
    <input type="password" name="password" required minlength="8" autocomplete="new-password" placeholder="Password" />
    <input type="password" required autocomplete="new-password" placeholder="Confirm password" />
    <button>Register</button>
</form>
<script type="module">
    /** @type {HTMLFormElement} */
    const form = document.scripts[document.scripts.length - 1].previousElementSibling;
    /** @type {HTMLInputElement} */
    const password = form.elements.password;
    /** @type {HTMLInputElement} */
    const password2 = password.nextElementSibling;

    form.addEventListener('submit', ev => {
        if (password.value !== password2.value) {
            ev.preventDefault();
            password2.setCustomValidity('The passwords must match.');
        }
        else {
            password2.setCustomValidity('');
        }
        password2.reportValidity();
    });

    password2.addEventListener('input', () => {
        if (password2.validity.customError) {
            password2.setCustomValidity('');
            password2.reportValidity();
        }
    })
</script>