<h1>Hello from Host</h1>

{% sql 'columns' %}
SELECT ordinal_position, column_name
FROM information_schema.columns
WHERE table_name = {{ query.table_name |  default: 'tables' }}
ORDER BY column_name
{% endsql %}

{% comment %} {% csharp columns | services db: InformationSchema, query: IQueryCollection %}
from column in db.columns
where column.table_name = query.table_name
orderby column.column_name
select column
{% endcsharp %} {% endcomment %}

{% comment %} {% repeat 1 | plus: 2 %}Hi! {% endrepeat %} {% endcomment %}

<select required>
    <option value=""></option>
    {% for column in columns %}
    <option value="{{ column.ordinal_position }}">{{ column.column_name }}</option>
    {% endfor %}
</select>

{% sql 'users' %}
SELECT *
FROM "user"
{% endsql  %}

<table>
    {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.username }}</td>
        </tr>
    {% endfor %}
</table>

{% sql 'tables' %}
SELECT table_name
FROM information_schema.tables
WHERE table_schema not in ('information_schema') AND table_schema NOT LIKE 'pg_%'
{% endsql  %}

<pre>{{ tables | json }}</pre>
